.footer {
  background: #fff;
  border-top: 1px solid #dee2e6;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.05);
}

.footer-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 18px 24px;
  font-size: 24px;
}

span{
  color: #ef4444;
  font-style: italic;
}
